@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap");
body{
  background-image: url('music_pic.jpg');
  
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 { 
  font-family: "comic-sans", cursive;
  color: #170329; 
  font-size: 50px;
  text-shadow: 0 0 80px #fff, 0 0 10px #dcd5e8;
} 
.input-group {
  margin-bottom: 30px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.inp, .btn, select {
  width: calc(100% - 20px);
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #4d345f;
  border-radius: 5px;
  font-size: 1.1em;
}

.btn {
  background-color: #aa92c0;
  color: #fff;
  cursor: pointer;
  width: 100px;
  margin: 5px 0;
  padding: 10px;
}

.inp:focus, .btn:focus {
  outline: none;
}

.label {
  font-size: 1.5em; 
  text-shadow: 0 0 80px #fff, 0 0 10px #dcd5e8,0 0 10px #cb91c4, 0 0 10px #eadee8;
}


hr {
  margin: 20px 0;
  width: calc(100% - 20px);
  border: none;
  border-top: 2px solid #50276d;
}

pre {
  font-family: 'sans-serif' cursive;
  font-size: 1.5em;
  color: #0c0015;
  text-shadow: 0 0 10px #fff, 0 0 10px #cb91c4, 0 0 10px #654961, 0 0 10px #ebd0e8, 0 0 10px #baa0b7, 0 0 10px #896a86, 0 0 10px #dec8db;
}
